.week-btn {
    background-color: #eae8fd;
    color: #7376f0;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    /* width: 39%; */
    /* padding: 1rem; */
}

.week-btn1 {
    background-color: #dff7e9;
    color: #198754;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    /* width: 39%; */
    /* padding: 1rem; */
}

/* .card1 {
    border-right: 1px solid #dbdade;
    margin-bottom: 0.5rem;
} */

.vl {

    border-left: 1px solid #dbdade;
    height: 150px;

}

.card2 {
    margin-bottom: 1rem;
}

.autoApprovedBtn {
    height: 0;
    width: 0;
    visibility: hidden;
}

.autoApprovedBtn label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.autoApprovedBtn label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.autoApprovedBtn:checked+label {
    background: #bada55;
}

.autoApprovedBtn:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.autoApprovedBtn label:active:after {
    width: 130px;
}

/* Table CSS */

/* .dataTableContainer {
    max-height: 400px;
    overflow: auto;
}

.rdt_TableHead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
} */


@media(max-width:580px) {
    .card1 {
        padding-bottom: 3rem;
        border-right: none;
        border-bottom: 1px solid #dbdade;
    }

    /* .dropsdown{
        margin-left:none;
        margin-top: 2rem;
        align-items: start;
    } */
}

.dropsdown .dropsdown-width {
    width: 9rem;
}